*{
    margin: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
}
.right{
    flex: 30%;
    font-size: 2em;
    height: 95vh;
}

.left{
    flex: 70%;
    font-size: 2em;
    height: 95vh;
    padding:1em;
    border-right: 1px solid black;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.item{
    width: 23%;
    height: 26%;
    padding: 0.1em;
    text-align: center;
    font-size: 2vw;
    
}

img {
    max-width:100%;
    max-height:100%;
}